@media screen and (min-width:950px){
    #navbar,#sticky{
        display: none;
    }
}

@media screen and (max-width:950px){
    #navbar1,#sticky1{
        display: none;
    }
    #navlinks,#stickylinks {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 15; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: rgb(255, 255, 255); /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
      }
      
      /* The navigation menu links */
      #navlinks a ,#stickylinks a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
      }
      
      /* When you mouse over the navigation links, change their color */
      #navlinks a:hover ,#stickylinks a:hover{
        color: #f1f1f1;
      }
      
      /* Position and style the close button (top right corner) */
      #navlinks .closebtn ,#stickylinks .closebtn{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 50px;
        margin-left: 50px;
        z-index: 15;
      }
      
      /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
      #body {
        transition: margin-left .5s;
        padding: 20px;
      }
      
      /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
      @media screen and (max-height: 450px) {
        #navlinks ,#stickylinks{padding-top: 15px;}
        #navlinks a ,#stickylinks a{font-size: 18px;}
      }
}


@media screen and (max-width:950px){
    /* #feature{
        display:none;
    } */
    #navbar1{
        width: 96%;
        padding:1% 2%;
    }
    #navbar1>div:nth-child(2){
        display: flex;
        flex-direction: column;
    }
    #navbar1>div:nth-child(2)>a{
        margin: 2%;
    }
    #sticky1{
        height:100px;
        padding:1% 2%;
        width:96%;
    }
    #sticky1>div:nth-child(2){
        display: flex;
        flex-direction: column;
    }
    #sticky1>div:nth-child(2)>a{
        margin: 2%;
    }


    
    /* body */
    #top{
        width:90%;
    }
    #top h1{
        font-size: 40px;
    }
    #top>div{
        margin: auto;
        border: 0px;
    }
    #top input{
        border: 2px solid #f16631;
        width:90%;
        text-align: center;
        padding:16px 0px;
        border-radius: 8px;
        margin:0;
    }
    #top button{
        margin-top: 10px;
        width:90%;
        border-radius: 8px;
    }
    iframe{
        height:400px;
    }
    #mid3{
        text-align: center;
    }
    #slider1>div>div>ul>li{
        padding:5px;
        width:30%;
    }
    #slider1>div>div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #slider1>div>div+div>img{
        margin: auto;
        width:70%;
    }
    #slider1>div>div:last-child{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
        width:500px;
        margin-top: 100px;
    }
    #mid4{
        padding:200px 0px;
    }
    #main>div:nth-child(3){
        display:grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
        row-gap: 10px;
    }
    
    #main>div:last-child{
        width:60%;
    }
    #main>div:last-child>button{
        padding:2% 6%;
    }
    #mainone>div:nth-child(3){
        display:grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
    }
    #logo{
        width:50%;
        margin: auto;
    }
    #logo>ul>li{
        padding:20px;
    }
    #logo>ul>li>a>img{
        width:30px;
        height:30px;
    }

    /* footer */
    #topfooter{
        display:flex;
        flex-direction: column;
    }
    #topfooter>div{
        margin: auto;
        text-align: center;
    }
    #botfooter>div:first-child>ul{
        flex-direction: column;
    }
    #botfooter>div:first-child>ul>li{
        margin: auto;
    }
    #botfooter>div:last-child{
        display:flex;
        flex-direction: column;
    }
    #botfooter>div:last-child>div{
        margin: auto;
    }   
}


@media screen and (max-width:600px){
    #logo{
        width:40%;
        margin: auto;
    }
    #logo>ul>li{
        padding:1%;
    }
    #logo>ul>li>a>img{
        width:10px;
        height:10px;
    }
    #logo+div{
        width:50%;
    }
    #logo+div>button{
        padding:1% 5%;
    }
    #slider1>div>div:last-child{
        width:70%;
    }
    #slider1>div>div:last-child>button{
        padding:2% 5%;
    }
    iframe{
        height:250px;
    }
    #top h1,#mid1 h2{
        font-size: 30px;
    }
    #top p,#mid1 p,#slider1>div>div+div>div>h5,#text{
        font-size: 14px;
    }
    #mid3>h3,#main>h3,#mainone>h3,#mainone>h4,#mid3>h4,#main>h4,#slider>h3,#slider>h4,#name{
        font-size: 25px;
    }
    #mid3>p,#slider1>div>div+div>div>p,#role{
        font-size: 10px;
    }
}


@media screen and (max-width:470px){
    #mid2>div{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    #main>div>div>div>h5,#mainone>div>div>div>h5{
        font-size: 10px;
    }
    #main>div>div>div>p,#mainone>div>div>div>p{
        font-size: 5px;
    }
    iframe{
        height:200px;
    }
    #top h1{
        font-size: 20px;
    }
    #top p{
        font-size: 10px;
    }
}